.flex {
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
}
.button{
    border: 3px solid;
    border-radius: 20px;
    padding: 5px 20px;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}
.font-size-80{
    font-size: 80px;
}
/* Logo + Navbar */
header {
    display: flex;
    align-items: flex-end;
    padding: 20px 40px;
    justify-content: space-between;
    box-shadow: 0 5px #f9f9f9;
}
header img{
    width: 10%;
}
nav {
    word-spacing: 20px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}
nav button{
    background-color: white;
    color :#03608a;
}
nav button:hover{
    background-color: #02415e;
    color: white;
}
/* Diapo */
.diapo {
    background: linear-gradient(137deg,#22efcb 15.51%,#2980ff 51.65%,#a125ff 85.09%);
    color: white;
}
.diapo h1 {
    color:black;
    font-weight: bold;
}
.diapo p {
    font-size: 25px;
}
.diapo button {
    width: 400px;
    height: 80px;
    border-radius: 40px;
    background-color: #03608a;
    color: white;
    border: none;
}
.diapo button:hover{
    background-color: white;
    color: black;
}
.diapo ul {
    width: 221px;
    margin: 20px auto;
}
.diapo li {
    list-style-type: disc;
}
/* Premium */
.premium p{
    margin: 20px auto;
    width: 380px;
}
.premium .carousel {
    background: url(images/carousel.jpg) no-repeat;
    background-position: 50%;
    background-size: 1200px;
    height: 704px;
}
.white-screen img{
    max-width: 45%;
    height: auto;
}
.white-screen h2 {
    width: 580px;
}
.gradient .violet {
    background: url(images/gradient1.jpg) no-repeat;
    background-size: 100%;
    box-shadow: 0 0 20px #c1c1c1;
    height: 152px;
    margin: auto;
    width: 152px;
    border-radius: 6px;
}
.gradient .bleu {
    background: url(images/gradient2.jpg) no-repeat;
    background-size: 100%;
    box-shadow: 0 0 20px #c1c1c1;
    height: 152px;
    margin: auto;
    width: 152px;
    border-radius: 6px;
}
.gradient .multi {
    background: url(images/gradient3.jpg) no-repeat;
    background-size: 100%;
    box-shadow: 0 0 20px #c1c1c1;
    height: 375px;
    margin: auto;
    width: 375px;
    border-radius: 6px;
}
.gradient .vert {
    background: url(images/gradient4.jpg) no-repeat;
    background-size: 100%;
    box-shadow: 0 0 20px #c1c1c1;
    height: 152px;
    margin: auto;
    width: 152px;
    border-radius: 6px;
}
.gradient .découverte {
    width: 152px;
    font-size: 13px;
}
.emission img{
    height: 245px;
    width: 245px;
}
